.thread-item {
  padding: 15px 15px 5px 15px;
}

.thread-item:hover {
  transition: 0.5s;
  border-color: navy;
}

.author {
  font-size: 0.9rem;
  color: navy;
}

.created_at {
  font-size: 0.9;
  color: grey;
}

.content {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
